@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.navbar {
  height: auto;
  width: 280px;
  padding: 24px;
  background: #F2EBF9;
}

.logo {
  width: 179px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #9854F6;
  }
}

.menu {
  margin-top: 80px;
  width: 232px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  padding: 10px;
  border-radius: 8px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-decoration: none;
  color: #000000;

  &:hover {
    font-weight: 700;
    background: #E5D5FA;
    color: #9854F6;
  }

  &[data-active] {

    &,
    &:hover {
      font-weight: 700;
      background: #E5D5FA;
      color: #9854F6;
    }
  }

}