.navbar {
  // height: rem(700px);
  // width: rem(300px);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.navbarMain {
  flex: 1;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: grey;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;

  &:hover {
    background-color: purple;
    color: #fff;
  }

  &[data-active] {

    &,
    &:hover {
      background-color: purple;
      color: #fff;
    }
  }

}